body {
  padding: 0;
  margin: 0;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
}

.image {
  width: 100%;
}

.image-link {
  width: 100%;
  height: 100%;
  display: block;
  line-height: 0;
}

.image-link img {
  display: block;
}
